:root {
  --color-light: #fddf97;
  --color-medium: #e09664;
  --color-dark: #6c4343;
  --color-main: #364968;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  position: relative;
  color: #fff;
  background-color: var(--color-main);
  font-size: 1.5rem;
  width: 100vw;
  text-align: center;
}

#form {
  background: var(--color-dark);
  padding: 0.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 5rem;
}

#input {
  background-color: var(--color-light);
  border: none;
  padding: 0 1rem;
  flex-grow: 1;
  border-radius: 2rem;
  margin: 0.25rem;
  font-size: inherit;
}

#input:focus {
  outline: none;
}

#chat {
  width: 100vw;
  display: flex;
  justify-content: center;
}

#messages {
  padding: 0;
  width: 40vw;
  display: flex;
  flex-direction: column;
}

#messages > div {
  width: 60%;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: var(--color-dark);
  border-radius: 0.5rem;
  text-align: left;
}

.user-date-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.date-time {
  text-align: left;
  color: #ddd;
  font-size: 1rem;
}

.name {
  text-align: left;
  color: var(--color-light);
  font-size: 1rem;
}

.messages--left  {
  align-self: flex-start;
} 

.messages--right {
  align-self: flex-end;
}

.notie-background-info {
  background-color: var(--color-medium);
}
